/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  line-height: 1.6;
  counter-reset: section;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea,
p,
h5 {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

:root {
  --green-blue: #b8d1ce;
  --dark-blue: #445a66;
  --blue: #607c8a;
  --clear-blue: #bbdefb;
  --light-blue: #eaf5ff;
  --dark-orange: #c17028;
  --orange: #e38939;
  --light-orange: #ffe3b7;
  --clear-orange: #f4d4ab;
  --pseudo-white: #fffcfc;
  --brown: #652D30;
  --dark-red: #9d3a05;
  --red: #ff906c;
  --light-red: #f6ccbe;
  --dark-grey: #37474f;
  --grey: #a2b1b9;
  --deep-violet: #353255;
  --dark-violet: #5e35b1;
  --violet: #c2a0ff;
  --dark-green: #2e7d32;
  --green: #77d37b;
}

/* Aggiungi ulteriori reset CSS specifici per il tuo progetto qui */

/* Fine reset CSS */

/* HOMEPAGE ------------------------------------------------------------------------------------ */

.homepage {
  background-color: var(--green-blue);
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Nasconde l'eventuale overflow orizzontale */
}

.homepage .left-side {
  height: 100vh;
  background-image: url(assets/img/background-home.png);
  background-size: cover; /* Copre interamente l'elemento senza generare scroll */
  background-position: right;
  position: sticky;
  overflow-x: hidden; /* Nasconde l'eventuale overflow orizzontale */
}

.homepage .right-side {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

/* LEFT SIDE ----------------------------------------------------------------------------------------------------------------------------------- */

/* LOGIN COMPONENT -------------------------------------- */

/* .page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 15rem;
} */

.login-component {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.859);
  width: 18rem;
  height: 3rem;
  overflow: hidden;
  transition: height 0.6s ease; /* Transizione fluida per l'altezza */
}

.login-component.login-container {
  left: 5rem;
  bottom: 0;
}

.login-component,
.login-component .login-hat,
.login-component .signin-hat {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.login-component .login-hat {
  height: 3rem;
  padding: 0.8rem;
  text-align: center;
  font-weight: 600;
  color:white;
  background-color: var(--deep-violet);
  cursor: pointer;
}

.login-component .login-body {
  padding: 2.5rem;
  padding-top: 2.5rem;
}

.login-component.signin-container {
  left: 15rem;
  bottom: 0;
}

.login-component .signin-hat {
  height: 3rem;
  padding: 0.8rem;
  font-weight: 600;
  color:white;
  text-align: center;
  background-color: var(--dark-orange);
  cursor: pointer;
}

.login-component.open {
  height: 26rem;
}

.login-component input {
  height: 3rem;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: var(--light-blue);
  border-bottom: solid 1px var(--blue);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transition: background-color, scale 0.3s ease
}

.login-component input:hover {
  border-bottom: 1px solid var(--orange);
}

.login-component input:focus {
  scale:1.1;
  background-color: var(--pseudo-white);
  border-bottom: 1px solid var(--orange); 
}

.login-component .login-button{
  margin-top: 3rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: block;
  width: 6rem;
  margin-inline: auto; 
  color: white;
  background-color: #353255;
}

.login-component .login-button:hover{
  background-color: var(--blue);
  scale:1.05;
  transition: background-color, scale 0.3s ease
}
.login-component .login-button:active {
  scale:0.9;
}

/* .input-log {
  border: none;
  outline: none;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  position: relative;
  bottom: 14px;
  right: 9px;
  border-bottom: solid 1px var(--blue);
  width: 220px;
  box-sizing: border-box;
  padding: 0 18px;
} */

/* .input-log:hover,
/* .input-log:focus {
  border-bottom: solid 2px var(--orange);
} */

/* .sign-btn-page {
  color: var(--blue);
  background-color: var(--light-orange);
  box-shadow: 1px 1px 2px var(--orange);
}

.sign-btn-page:hover {
  background-color: var(--pseudo-white);
  color: var(--orange);
}

.sign-btn-page:active {
  box-shadow: -1px -1px 2px var(--orange);
}

.log-btn-page {
  color: var(--orange);
  background-color: var(--light-blue);
  box-shadow: 1px 1px 2px var(--blue);
}

.log-btn-page:hover {
  background-color: var(--pseudo-white);
  color: var(--blue);
}

.log-btn-page:active {
  box-shadow: -1px -1px 2px var(--blue);
} */

/* #profile-image-log {
  position: relative;
  cursor: pointer;
}
#profile-image-log::file-selector-button {
  width: 8px;
  color: transparent;
}

#profile-image-log::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23e38939'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
} */

/* file upload button */
/* #profile-image-log::file-selector-button {
  border-radius: 4px;
  padding: 0 0px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
/* #profile-image-log::file-selector-button:hover {
  background-color: none;
}

/* file upload button active state */
/*.profile-image-log::file-selector-button:active {
  background-color: none;
} */

/* NAVBAR */
/* 
.bg-color-navbar {
  background-color: var(--clear-orange);
}

.container-navbar {
  box-shadow: -1px -1px 6px var(--orange);
}

.vertical-line-navbar {
  margin-inline-start: 1rem;
  height: 3rem;
  width: 1px;
  background-color: var(--blue);
}

.pages-navbar {
  font-size: 1.2rem;
  color: var(--dark-blue);
}
.pages-navbar-active {
  font-size: 1.2rem;
  color: var(--dark-orange);
}

.to-click {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 6.2rem;
  text-align: center;
  padding-block: 0.6rem;
  font-size: 1.2rem;
}

.log-navbar {
  color: var(--orange);
  background-color: var(--light-blue);
  box-shadow: 1px 1px 3px var(--blue);
}

.log-navbar:hover {
  background-color: var(--pseudo-white);
  color: var(--blue);
}

.log-navbar:active {
  box-shadow: -1px -1px 3px var(--blue);
}

.sign-navbar {
  color: var(--blue);
  background-color: var(--light-orange);
  box-shadow: 1px 1px 3px var(--orange);
}

.sign-navbar:hover {
  background-color: var(--pseudo-white);
  color: var(--orange);
}

.sign-navbar:active {
  box-shadow: -1px -1px 3px var(--orange);
} 

/* RIGHT SIDE------------------------------------------------------------------------------------------------------------------------ */

/* HEADER-COMPONENT ---------------------------------- */

.header-component,
.timeline-component,
.let-fun-begin {
  max-width: 20rem;
  margin-top: 2rem;
  margin-inline: auto;
}

.header-component .welcome {
  font-family: "droid serif";
  font-style: italic;
  font-size: 1.1rem;
  color: black;
}

.header-component .circle {
  border-radius: 50%;
}

.header-component .circle.happy {
  position: absolute;
  background-color: var(--light-orange);
  top: -8px;
  left: -50px;
  padding: 2.5rem;
  z-index: -1;
}

.header-component .title {
  font-size: 4rem;
  font-weight: 400;
}

.header-component .title.happy {
  position: relative;
  color: var(--blue);
  display: block;
  z-index: 1;
}

.header-component .title.activities {
  position: relative;
  z-index: 1;
  color: var(--orange);
}

.header-component .circle.activities {
  padding: 3.2rem;
  position: absolute;
  bottom: -26px;
  right: -51px;
  z-index: -1;
  background-color: var(--clear-blue);
}

.header-component .subtitle {
  font-weight: 400;
  font-size: 1.3rem;
  font-style: italic;
}

.header-component .subtitle-homepage span {
  margin-top: -18px;
  font-style: normal;
}

.header-component .subtitle-line {
  width: 7.2rem;
  height: 2px;
  background-color: var(--blue);
}

/* TIMELINE  ------------------------------------------- */

.timeline-component {
  background-color: var(--light-orange);
  padding: 1.5rem;
  border-radius: 15px;
  height: 26rem;
}

.timeline-component h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: -0.5rem;
}

.timeline-component h2 .span-forget {
  font-size: 1rem;
  font-weight: 400;
}

.timeline-component h2 .span-flow {
  font-style: italic;
  font-weight: 500;
  color: var(--dark-orange);
}

.timeline-component .timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 2.5rem auto;
}

.timeline-component .timeline::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%; /* Centra la linea verticale */
  transform: translateX(-50%); /* Corregge la posizione orizzontale */
  width: 2px; /* Imposta la larghezza della linea */
  height: 100%; /* Imposta l'altezza della linea in base al contenuto della timeline */
  background-color: var(--blue);
  z-index: 0;
}

.timeline-component .event {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
}

.timeline-component .ball {
  padding: 0.5rem;
  margin-bottom: 2rem;
  background-color: var(--clear-blue);
  border-radius: 50%;
  z-index: 1;
  margin-inline: auto;
}

.timeline-component .text {
  position: absolute;
  width: 50%;
  margin-inline: auto;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1rem;
}

.timeline-component .text.left {
  text-align: right;
  top: 0px;
  left: -20px;
}

.timeline-component .text.right {
  text-align: left;
  top: 0px;
  right: -20px;
}

/* LET-FUN-BEGiN */

.let-fun-begin h4 {
  font-size: 1.2rem;
  line-height: 2rem;
}

.let-fun-begin span {
  display: block;
  width: 50%;
  margin-inline: auto;
  margin-bottom: 0.5rem;
  font-style: italic;
  font-weight: 500;
  color: var(--dark-orange);
  border-bottom: solid 1px var(--dark-orange);
}

/* ------------------------------------------------- */

/* HomePage */

/* header */

/* show types */

.text-title-types-homepage {
  text-align: right;
  margin-bottom: 5rem;
  font-style: italic;
  margin-bottom: 5rem;
}

.text-title-types-homepage .span-types {
  display: block;
  font-style: normal;
  color: var(--dark-blue);
  position: relative;
}

.text-title-types-homepage .span-types span {
  width: 8.4rem;
  height: 3px;
  background-color: var(--blue);
  position: absolute;
  bottom: -5px;
  right: 0px;
}

.work {
  padding: 1.5rem;
  padding-top: 0;
}
.study {
  padding: 1.5rem;
  padding-top: 0;
}
.event {
  padding: 1.5rem;
  padding-top: 0;
}
.free-time {
  padding: 1.5rem;
  padding-top: 0;
}

.bg-card {
  position: relative;
  padding: 2rem;
  border-radius: 2px;
  background-color: var(--pseudo-white);
}

.bg-card-pro img:hover {
  scale: 1.05;
  transition: 0.2s;
}

.shadow-card {
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  right: -10px;
  z-index: -1;
}

.work .bg-card {
  box-shadow: 1px 2px 5px var(--dark-red);
}
.work .bg-card-pro {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 2px var(--dark-red);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.study .bg-card {
  box-shadow: 1px 2px 5px var(--dark-grey);
}
.event .bg-card {
  box-shadow: 1px 2px 5px var(--dark-violet);
}
.free-time .bg-card {
  box-shadow: 1px 2px 5px var(--dark-green);
}
.work .shadow-card {
  background-color: var(--red);
}
.study .shadow-card {
  background-color: var(--grey);
}
.event .shadow-card {
  background-color: var(--violet);
}
.free-time .shadow-card {
  background-color: var(--green);
}

.bg-card:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.5s;
}

.img-card-types {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}
.work .img-card-types {
  box-shadow: 1px 1px 3px var(--dark-red);
}
.study .img-card-types {
  box-shadow: 1px 1px 3px var(--dark-grey);
}
.event .img-card-types {
  box-shadow: 1px 1px 3px var(--dark-violet);
}
.free-time .img-card-types {
  box-shadow: 1px 1px 3px var(--dark-green);
}

.img-card-types img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.bg-card h3 {
  text-align: center;
  margin-top: 0.5rem;
}

.subscribe {
  font-weight: 500;
  color: var(--orange);
  font-size: 2.4rem;
}

.subscribe-line {
  position: absolute;
  width: 20rem;
  height: 2px;
  background-color: var(--blue);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */

.container-footer {
  position: absolute;
  bottom: 0;
  padding: 2rem 8rem;
  background-color: var(--clear-orange);
  box-shadow: -1px -1px 4px var(--orange);
}

.com-footer {
  text-align: center;
  color: var(--blue);
  font-size: 1.5rem;
}

.com-footer span {
  color: var(--orange);
}

.ul-footer {
  padding: 0;
  text-align: center;
  font-size: 1.2rem;
}

.line-footer {
  width: 100%;
  height: 2px;
  background-color: var(--blue);
}

/* create project */
.container-create-project {
  padding: 5rem;
}

.padding-container-form-project {
  padding-inline: 20%;
}
.edit-create-project {
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0.2rem;
  overflow: hidden;
  background-color: var(--pseudo-white);
  top: 0;
  right: 50%;
  transform: translate(160%, 18%);
  box-shadow: 0px 1px 1px var(--grey);
}
.work .edit-create-project:hover {
  border: 1px solid var(--red);
  transition: 0.2s;
}
.edit-create-project:active {
  box-shadow: 1px 0px 1px var(--grey);
}

.edit-create-project img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.work .container-form-project-create {
  position: relative;
  text-align: center;
  box-shadow: 0px 1px 4px var(--red);
}

.form-project-create {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%);
}

.label-create-project {
  display: flex;
  flex-direction: column;
}

.label-create-project input,
.label-create-project textarea {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  height: 100%;
  border-bottom: 1px solid black;
}
.work .label-create-project input:hover,
.work .label-create-project textarea:hover,
.work .label-create-project input:focus,
.work .label-create-project textarea:focus {
  border-bottom: 1px solid var(--red);
}

.img-card-types .img-prew-create-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* card project component */

.img-card-types.card-project {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.img-card-types.card-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-project-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
  border-top: 1px solid black;

  padding-block: 0.5rem;
}

.bg-sidebar {
  margin: 1rem 0.5rem;
  margin-bottom: 1.4rem;
  background-color: var(--clear-orange);
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--orange);
  height: 82vh;
  padding: 0.6rem;
}

.delete-card-project-func img:hover {
  scale: 1.1;
  cursor: pointer;
}

.delete-card-project {
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--orange);
  background-color: var(--clear-orange);
  padding: 0.5rem 1rem;
  margin-top: 1.1rem;
}

/* delete */

.img-card-types-special {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.img-card-types-special img {
  width: 100%;
  height: 100%;
}

.delite-line {
  width: 4px;
  background-color: var(--blue);
  height: 4rem;
  border-radius: 50px;
}

/* project page */

.wv {
  width: 93.5vw;
}

.scroll-container {
  height: 64vh;
  width: 100%; /* Definisci la larghezza del contenitore */
  overflow-x: auto; /* Abilita lo scorrimento orizzontale */
  white-space: nowrap; /* Impedisce agli elementi interni di andare a capo */
}

.container-project-page {
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--orange);
  position: relative;
  padding-bottom: 0px;
}

.img-card-types.card-project.project-page {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.project-page {
  position: absolute;
  top: -10px;
  right: -15px;
}

.project-page-line {
  height: 2px;
  width: 100%;
  background-color: var(--orange);
}

/* task */

.container-task {
  width: 18rem;
}
.container-card-task {
  border: solid 1px var(--orange);
  margin-inline: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  white-space: initial;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 8px; /* Larghezza della scrollbar verticale */
  height: 6px; /* Altezza della scrollbar orizzontale */
}

/* Parte interna della scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--orange); /* Colore della parte interna */
  border-radius: 10px; /* Arrotondamento degli angoli */
  border: px solid transparent; /* Bordo trasparente */
  background-clip: content-box; /* Ritaglia lo sfondo */
}

/* Parte della track (il binario su cui scorre la scrollbar) */
::-webkit-scrollbar-track {
  background: var(--clear-orange); /* Colore del binario */
  border-radius: 10px; /* Arrotondamento degli angoli */
  margin: 4px; /* Margine per evitare che tocchi i bordi */
}

/* Responsiveness */
