/* Reset CSS */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  line-height: 1.6;
  counter-reset: section;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea,
p,
h5 {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

:root {
  --dark-blue: #445a66;
  --blue: #607c8a;
  --clear-blue: #bbdefb;
  --light-blue: #eaf5ff;
  --dark-orange: #c17028;
  --orange: #e38939;
  --light-orange: #ffe3b7;
  --clear-orange: #fff3e0;
  --pseudo-white: #fffcfc;
  --dark-red: #9d3a05;
  --red: #ff906c;
  --light-red: #f6ccbe;
  --dark-grey: #37474f;
  --grey: #a2b1b9;
  --dark-violet: #5e35b1;
  --violet: #c2a0ff;
  --dark-green: #2e7d32;
  --green: #77d37b;
}

/* Aggiungi ulteriori reset CSS specifici per il tuo progetto qui */

/* Fine reset CSS */

/* Login component */
/*fonts*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 15rem;
}

.container-log {
  position: relative;
  top: 100px;
  text-align: center;
}

.container-log span {
  font-family: "Pt Sans", helvetica, sans-serif;
}

.container-log h1 {
  text-align: center;
  color: var(--orange);
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 10px;
}

.container-log h2 {
  font-family: "droid serif";
  font-style: italic;
  color: var(--blue);
  text-align: center;
  font-size: 1.2em;
}

.container-log form span:before {
  box-shadow: 1px 1px 3px var(--orange);
  width: 40px;
  height: 40px;
  color: var(--blue);
  display: inline-block;
  border-radius: 50%;
  line-height: 1.6em;
  font-size: 1.5em;
  position: relative;
  left: -22px;
  top: -11px;
  background: var(--clear-orange);
}

.container-log .log span:before,
.container-log .sign span:before {
  counter-increment: section;
  content: counter(section);
}

.form-log {
  margin-top: 25px;
  display: inline-block;
}

.fields {
  border-left: 2px solid var(--blue);
}

.container-log span {
  margin-bottom: 22px;
  display: inline-block;
}

.container-log span:last-child {
  margin-bottom: -11px;
}

.input-log {
  border: none;
  outline: none;
  display: inline-block;
  height: 34px;
  vertical-align: middle;
  position: relative;
  bottom: 14px;
  right: 9px;
  border-bottom: solid 2px var(--blue);
  width: 220px;
  box-sizing: border-box;
  padding: 0 18px;
}

.input-log:hover,
.input-log:focus {
  border-bottom: solid 2px var(--orange);
}

.sign-btn-page {
  color: var(--blue);
  background-color: var(--light-orange);
  box-shadow: 1px 1px 2px var(--orange);
}

.sign-btn-page:hover {
  background-color: var(--pseudo-white);
  color: var(--orange);
}

.sign-btn-page:active {
  box-shadow: -1px -1px 2px var(--orange);
}

.log-btn-page {
  color: var(--orange);
  background-color: var(--light-blue);
  box-shadow: 1px 1px 2px var(--blue);
}

.log-btn-page:hover {
  background-color: var(--pseudo-white);
  color: var(--blue);
}

.log-btn-page:active {
  box-shadow: -1px -1px 2px var(--blue);
}

/* #profile-image-log {
  position: relative;
  cursor: pointer;
}
#profile-image-log::file-selector-button {
  width: 8px;
  color: transparent;
}

#profile-image-log::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23e38939'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
} */

/* file upload button */
/* #profile-image-log::file-selector-button {
  border-radius: 4px;
  padding: 0 0px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: none;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
/* #profile-image-log::file-selector-button:hover {
  background-color: none;
}

/* file upload button active state */
/*.profile-image-log::file-selector-button:active {
  background-color: none;
} */

/* NAVBAR */

.bg-color-navbar {
  background-color: var(--clear-orange);
}

.container-navbar {
  box-shadow: -1px -1px 6px var(--orange);
}

.vertical-line-navbar {
  margin-inline-start: 1rem;
  height: 3rem;
  width: 1px;
  background-color: var(--blue);
}

.pages-navbar {
  font-size: 1.2rem;
  color: var(--dark-blue);
}
.pages-navbar-active {
  font-size: 1.2rem;
  color: var(--dark-orange);
}

.to-click {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 6.2rem;
  text-align: center;
  padding-block: 0.6rem;
  font-size: 1.2rem;
}

.log-navbar {
  color: var(--orange);
  background-color: var(--light-blue);
  box-shadow: 1px 1px 3px var(--blue);
}

.log-navbar:hover {
  background-color: var(--pseudo-white);
  color: var(--blue);
}

.log-navbar:active {
  box-shadow: -1px -1px 3px var(--blue);
}

.sign-navbar {
  color: var(--blue);
  background-color: var(--light-orange);
  box-shadow: 1px 1px 3px var(--orange);
}

.sign-navbar:hover {
  background-color: var(--pseudo-white);
  color: var(--orange);
}

.sign-navbar:active {
  box-shadow: -1px -1px 3px var(--orange);
}

/* HomePage */

/* header */

.padding-container {
  padding-inline: 7rem;
  margin-bottom: 6rem;
}

.margin-container {
  padding-inline: 7rem;
  margin-top: 5rem;
}

.welcome-homepage {
  font-family: "droid serif";
  font-style: italic;
  font-size: 2rem;
  color: black;
}

.circle-homepage {
  border-radius: 50%;
  width: 3.4rem;
}

.happy-circle {
  position: absolute;
  background-color: var(--light-orange);
  top: -8px;
  left: -62px;
  padding: 3.4rem;
  z-index: -1;
}

.happy-homepage {
  position: relative;
  font-weight: 400;
  font-size: 7rem;
  color: var(--blue);
  display: block;
  z-index: 1;
}

.activities-homepage {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 7rem;
  color: var(--orange);
}

.activities-circle {
  padding: 4.5rem;
  position: absolute;
  bottom: -26px;
  right: -51px;
  z-index: -1;
  background-color: var(--clear-blue);
}

.task-management-homepage {
  font-weight: 400;
  font-size: 2rem;
  font-style: italic;
}

.task-management-homepage span {
  margin-top: -18px;
  font-style: normal;
}

.line-homepage {
  width: 11rem;
  height: 2px;
  background-color: var(--blue);
}

.container-logo-homepage {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  margin-left: auto;
  background-color: white;
  box-shadow: 2px 2px 4px var(--orange);
}

.container-logo-homepage img {
  object-fit: cover;
  width: 90%;
  height: 90%;
  margin-top: 1rem;
}

.shadow-logo-homepage {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background-color: var(--clear-blue);
  bottom: -14px;
  right: -2px;
  border-radius: 2px;
  z-index: -1;
}

/* Timeline */

.timeline-container-homepage {
  padding: 4rem 8rem;
  padding-bottom: 10rem;
  background-color: var(--clear-orange);
  box-shadow: 1px 1px 6px var(--orange);
}

.timeline-container-homepage h2 {
  text-align: center;
  margin-bottom: 6rem;
  font-weight: 400;
  font-size: 2rem;
}

.timeline-container-homepage h2 .span-forget {
  font-size: 1.5rem;
  font-weight: 400;
}

.timeline-container-homepage h2 .span-flow {
  font-style: italic;
  font-weight: 500;
  color: var(--dark-orange);
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--blue);
  z-index: 0;
}

.event-timeline {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
}

.event-timeline-alone {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.ball {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--clear-blue);
  box-shadow: 1px 1px 2px var(--dark-blue);
  border-radius: 50%;
  z-index: 1;
}

.goal {
  background-color: var(--pseudo-white);
  box-shadow: 1px 1px 2px var(--dark-blue);
  position: relative;
}

.goal img {
  position: absolute;
  top: -19px;
  left: -15px;
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.ball::before {
  counter-increment: section;
  content: counter(section);
  font-size: 2em;
  position: relative;
  left: 28px;
  top: 12px;
  color: var(--dark-blue);
}

.text {
  position: absolute;
  width: 50%;
  margin-inline: auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3rem;
}

.event-timeline .up {
  bottom: 60px;
  left: 50%;
  transform: translateX(-25%);
  color: var(--orange);
  box-shadow: 1px 1px 3px var(--orange);
  border-radius: 2px;
  background-color: var(--pseudo-white);
  padding: 0.8rem 1.7rem;
}

.up::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--orange);
}

.up:hover,
.down:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.2s;
}

.up:active {
  box-shadow: -1px -1px 3px var(--orange);
}

.event-timeline .down {
  top: 60px;
  left: 50%;
  transform: translateX(-25%);
  color: var(--blue);
  box-shadow: 1px 1px 3px var(--blue);
  border-radius: 2px;
  background-color: var(--pseudo-white);
  padding: 0.8rem 1.7rem;
}

.down::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: var(--blue);
}

.down:active {
  box-shadow: -1px -1px 3px var(--blue);
}

/* show types */

.text-title-types-homepage {
  text-align: right;
  margin-bottom: 5rem;
  font-style: italic;
  margin-bottom: 5rem;
}

.text-title-types-homepage .span-types {
  display: block;
  font-style: normal;
  color: var(--dark-blue);
  position: relative;
}

.text-title-types-homepage .span-types span {
  width: 8.4rem;
  height: 3px;
  background-color: var(--blue);
  position: absolute;
  bottom: -5px;
  right: 0px;
}

.work {
  padding: 1.5rem;
  padding-top: 0;
}
.study {
  padding: 1.5rem;
  padding-top: 0;
}
.event {
  padding: 1.5rem;
  padding-top: 0;
}
.free-time {
  padding: 1.5rem;
  padding-top: 0;
}

.bg-card {
  position: relative;
  padding: 2rem;
  border-radius: 2px;
  background-color: var(--pseudo-white);
}

.bg-card-pro img:hover {
  scale: 1.5;
  transition: 0.2s;
}

.shadow-card {
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  right: -10px;
  z-index: -1;
}

.work .bg-card {
  box-shadow: 1px 2px 5px var(--dark-red);
}
.work .bg-card-pro {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 2px var(--dark-red);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.study .bg-card {
  box-shadow: 1px 2px 5px var(--dark-grey);
}
.event .bg-card {
  box-shadow: 1px 2px 5px var(--dark-violet);
}
.free-time .bg-card {
  box-shadow: 1px 2px 5px var(--dark-green);
}
.work .shadow-card {
  background-color: var(--red);
}
.study .shadow-card {
  background-color: var(--grey);
}
.event .shadow-card {
  background-color: var(--violet);
}
.free-time .shadow-card {
  background-color: var(--green);
}

.bg-card:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.5s;
}

.img-card-types {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}

.work .img-card-types {
  box-shadow: 1px 1px 3px var(--dark-red);
}
.study .img-card-types {
  box-shadow: 1px 1px 3px var(--dark-grey);
}
.event .img-card-types {
  box-shadow: 1px 1px 3px var(--dark-violet);
}
.free-time .img-card-types {
  box-shadow: 1px 1px 3px var(--dark-green);
}

.img-card-types img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.bg-card h3 {
  text-align: center;
  margin-top: 0.5rem;
}

.subscribe {
  font-weight: 500;
  color: var(--orange);
  font-size: 2.4rem;
}

.subscribe-line {
  position: absolute;
  width: 20rem;
  height: 2px;
  background-color: var(--blue);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */

.container-footer {
  position: absolute;
  bottom: 0;
  padding: 2rem 8rem;
  background-color: var(--clear-orange);
  box-shadow: -1px -1px 4px var(--orange);
}

.com-footer {
  text-align: center;
  color: var(--blue);
  font-size: 1.5rem;
}

.com-footer span {
  color: var(--orange);
}

.ul-footer {
  padding: 0;
  text-align: center;
  font-size: 1.2rem;
}

.line-footer {
  width: 100%;
  height: 2px;
  background-color: var(--blue);
}

/* create project */
.container-create-project {
  padding: 5rem;
}

.padding-container-form-project {
  padding-inline: 20%;
}
.edit-create-project {
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0.2rem;
  overflow: hidden;
  background-color: var(--pseudo-white);
  top: 0;
  right: 50%;
  transform: translate(160%, 18%);
  box-shadow: 0px 1px 1px var(--grey);
}
.work .edit-create-project:hover {
  border: 1px solid var(--red);
  transition: 0.2s;
}
.edit-create-project:active {
  box-shadow: 1px 0px 1px var(--grey);
}

.edit-create-project img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.work .container-form-project-create {
  position: relative;
  text-align: center;
  box-shadow: 0px 1px 4px var(--red);
}

.form-project-create {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%);
}

.label-create-project {
  display: flex;
  flex-direction: column;
}

.label-create-project input,
.label-create-project textarea {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  height: 100%;
  border-bottom: 1px solid black;
}
.work .label-create-project input:hover,
.work .label-create-project textarea:hover,
.work .label-create-project input:focus,
.work .label-create-project textarea:focus {
  border-bottom: 1px solid var(--red);
}

.img-card-types .img-prew-create-project {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* card project component */

.img-card-types.card-project {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.img-card-types.card-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-project-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
  border-top: 1px solid black;

  padding-block: 0.5rem;
}

.bg-sidebar {
  margin: 1rem 0.5rem;
  margin-bottom: 1.4rem;
  background-color: var(--clear-orange);
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--orange);
  height: 82vh;
  padding: 0.6rem;
}

.delete-card-project-func img:hover {
  scale: 1.1;
  cursor: pointer;
}

.delete-card-project {
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--orange);
  background-color: var(--clear-orange);
  padding: 0.5rem 1rem;
  margin-top: 1.1rem;
}

/* delete */

.img-card-types-special {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.img-card-types-special img {
  width: 100%;
  height: 100%;
}

.delite-line {
  width: 4px;
  background-color: var(--blue);
  height: 4rem;
  border-radius: 50px;
}

/* Responsiveness */
@media (max-width: 600px) {
  .timeline {
    flex-direction: column;
  }

  .event-timeline {
    flex-direction: row;
    margin-bottom: 20px;
  }

  .text {
    margin-top: 0;
    margin-left: 10px;
  }

  .timeline::before {
    height: 100%;
    width: 2px;
    top: 0;
    left: 8%;
    transform: translateX(-50%);
  }
}
