/* DASHBOARD ------------------------------------------------------------------- */

.dashboard-color {
  background-color: var(--light-green-blue);
  box-shadow: 0px 1px 2px var(--green-blue);
  transition: background-color 0.5s ease;
}

.dashboard-color-together {
  background-color: var(--light-green);
  box-shadow: 0px 1px 2px var(--green);
}

.dashboard-color-alone {
  background-color: var(--clear-red);
  box-shadow: 0px 1px 2px var(--red);
}

/* PROJECT-CARDS */

.card-project-component {
  padding: 0.8rem;
  height: 15.5rem;
}

.card-project-component .card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
  transform: scale(1); /* Usa transform invece di scale */
  transition: transform 0.3s ease-in-out; /* Specifica la proprietà corretta */
}

.card-project-component .card-container:hover {
  transform: scale(1.03); /* Usa transform invece di scale */
}

.card-project-component .card-together{
  border-bottom: 2px solid var(--green);
  border-left: 1px solid var(--light-green);
  border-right: 1px solid var(--light-green);
  border-top: 2px solid var(--green);
}
.card-project-component .card-alone{
  border-bottom: 2px solid var(--red);
  border-top: 2px solid var(--red);
  border-left: 1px solid var(--light-red);
  border-right: 1px solid var(--light-red);
}

.icons-rotate {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}

.card-project-component h5,
.card-project-component p {
  cursor: pointer;
}

.card-project-component .img-container,
.delete-card-project-component .img-container {
  width: 3.3rem;
  height: 3.3rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
}
.card-project-component .img-container img,
.delete-card-project-component .img-container img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-project-component p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 65%;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1rem;
}

.card-project-component .progress {
  height: 0.2rem !important;
}

.card-project-component .text-progress {
  opacity: 50%;
  font-size: 0.65rem;
  display: block;
  margin-left: auto;
}

.card-project-component .favorite {
  cursor: pointer;
  scale: 1;
  transition: scale 0.15s ease;
}
.card-project-component .favorite:hover {
  scale: 1.08;
}
.card-project-component .favorite:active {
  scale: 0.9;
}

/* Menù card project */

.menu-card-component {
  position: absolute;
  right: 28px;
  top: 0px;
  border: 1px solid var(--light-grey);
  padding: 0.6rem 0.5rem;
  border-radius: 5px;
  width: 9rem;
  z-index: 1;
  background-color: white;
}

.visible {
  opacity: 1;
  transform: scale(0.5);
  animation: openWindow 0.4s ease-out forwards;
}

.hidden {
  opacity: 0; /* Inizia invisibile */
  transform: scale(0.5); /* Inizia ridotto */
  animation: closeWindow 0.4s ease-out forwards;
}

@keyframes closeWindow {
  from {
    opacity: 1; /* Inizia visibile */
    transform: scale(1); /* Dimensione normale */
  }
  to {
    opacity: 0; /* Diventa invisibile */
    transform: scale(0.5); /* Si riduce */
  }
}
.menu-card-component .selected {
  padding: 0.2rem 0.5rem;
}
.menu-card-component .selected:hover {
  background-color: var(--lighter-grey);
  border-radius: 3px;
}

.menu-card-component .selected img {
  opacity: 0.45;
}

.card-project-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
  border-top: 1px solid black;

  padding-block: 0.5rem;
}

/* EDIT MODAL */

.modal-header {
  border-bottom: none !important;
}

.modal-edit-project .modal-body {
  padding: 0;
}

.btn-modal {
  box-shadow: 0px 0px 3px var(--light-grey);
  border-radius: 6px;
  padding: 0.2rem 1rem;
  transition: background-color 0.2s ease;
}

.modal-question .line {
  background-color: var(--light-grey);
  height: 1px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.btn-modal.color-yes {
  border: 1px solid var(--green);
  box-shadow: 0px 0px 2px var(--green);
}
.btn-modal.color-yes:hover {
  background-color: var(--light-green);
  /* box-shadow: 0px 1px 2px var(--green); */
}

.btn-modal.color-no {
  border: 1px solid var(--red);
  box-shadow: 0px 0px 2px var(--red);
}
.btn-modal.color-no:hover {
  background-color: var(--clear-red);
  box-shadow: 0px 1px 2px var(--red);
}
